# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.idx
.idx/

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
.vscode/settings.json

# Dependencies
node_modules/

# ESLint config (if local)
eslint.config.mjs

# Build output
dist/
build/

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*